link(rel="stylesheet" href="stream-slides.css")
script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js', charset='utf-8')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/deck.js/1.1.0/core/deck.core.js', charset='utf-8')

block content
    
script(src="/init.js")
