extends ./layout

block content
    .slide.alt
        h1 Let's do the Wave(form)
    .slide
        p Hi! I'm Ken. something about me and where i work and what i do.
    .slide
        p i work at stream! here's what stream does.
    .slide
        p I'm working on Winds!
        p screenshot of winds
    .slide
        p we're going to build a frontend waveform from start to finish
        img(src="/waveform.gif")
    .slide
        h2 How to build a frontend waveform from start to finish:
        ol
            li get audio data
            li convert audio data into a reasonable format
            li render out some rectangles to the page
            li connect these recangles together with CSS
            li connect it to your audio player
    .slide.alt
        h2 thanks so much!
        
