/*html {
    zoom: 0.68;
}

* {
    box-sizing: border-box;
}



img:first-of-type {
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    margin: 5em auto;
    height: auto;
}*/

@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url(whitney300.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url(whitney500.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url(whitney600.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url(whitney700.woff) format("woff")
}

@font-face {
    font-family: WhitneyMedium;
    font-style: medium;
    font-weight: 600;
    src: url(whitneymedium600.woff) format("woff")
}
/*
body {
    margin: 0 auto;
    font-family: "Whitney", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #555;
}

h1 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
blockquote {
    /*margin-left: 1cm;
    margin-right: 1cm;*/
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

strong {
    color: #333;
}

code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 2px solid #4682b4;
}

a {
    color: #4682b4;
}

table {
    border-left: 2px solid #4682b4;
    border-collapse: collapse;
    page-break-inside: avoid;
    margin: auto;
}

td,
th {
    padding: 1em;
    background: #eee;
}

hr {
    margin: 0;
    border: none;
    page-break-before: always;
}

h1 {
    page-break-before: always;
}

h1:first-of-type {
    page-break-before: auto;
}

blockquote {
    border-left: 2px solid #4682b4;
    padding: 1px 1em;
    background: #eee;
    /*margin: 0;*/
}

blockquote> p {
    margin-left: 0;
    margin-right: 0;
}*/
