@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Medium.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-ExtraBold.otf");
    font-weight: 800;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Black.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Italic.otf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-MediumItalic.otf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-BoldItalic.otf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-ExtraBoldItalic.otf");
    font-style: italic;
    font-weight: 800;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Hanken Sans";
}

.slide {
    display: none;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.deck-current {
    display: flex;
}

.slide.alt {
    background: url("/assets/stream-background.png"), #4c8efa;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: multiply;
    color: white;
}

img {
    max-width: 100%;
}
