$blue: #4c8efa;
$gray: gray;
$lightgray: #eee;
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Light.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Medium.otf");
    font-weight: 600;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-ExtraBold.otf");
    font-weight: 800;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Black.otf");
    font-weight: 900;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-Italic.otf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-MediumItalic.otf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-BoldItalic.otf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Hanken Sans";
    src: url("/assets/slide-themes/stream/HankenSans-Complete/HankenSans-ExtraBoldItalic.otf");
    font-style: italic;
    font-weight: 800;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $blue;

    &:hover {
        color: $blue;
    }
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Hanken Sans";
    text-align: center;
}

::selection {
    background-color: $blue;
    color: white;
}

.slide {
    display: none;
    margin: auto;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/assets/stream-background.png");
    padding: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: multiply;
    padding-bottom: 3em;

    &.alt {
        background: url("/assets/stream-background.png"), $blue;
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        background-blend-mode: multiply;
        color: white;

        ::selection {
            background-color: white;
            color: $blue;
        }

        a {
            border-bottom-color: white;

            &:hover {
                color: inherit;
            }
        }

        li.completed {
            color: $lightgray;
        }

        table {
            color: inherit;
            td {
                border: 1px dotted white;
            }
        }
    }
}

.deck-current {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

code {
    max-width: 100%;
}

pre {
    max-width: 100%;
    text-align: left;
    background-color: $lightgray;
    padding: 1em;
    border-radius: 1em;
    overflow-x: auto;
}

li {
    text-align: left;
    margin-bottom: 0.5em;

    &.completed {
        font-style: italic;
        text-decoration: line-through;
        color: $gray;
    }
}

table {
    border-collapse: collapse;

    td {
        border: 1px dotted $blue;
        padding: 0.5em 1em;
    }
}
// TODO: fix this later

code.hljs {
    padding: 0;
    background: unset;
}

footer {
    padding: 0 1em;
    // height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;

    > * {
        padding: 1em 0;
        max-height: 100%;
    }

    img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }
}

.row {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    > *:not(:last-child) {
        margin-right: 1em;
    }
}
