extends ../layouts/main

block content
    .hofftech-container
        section.title
            h1
                strong posts, projects, & stories
            each postGroup in postGroups
                h2= postGroup.year
                ul
                    each post in postGroup.posts
                        li
                            a(href=`/${post.slug}` target="_self")= post.title
