extends ./layouts/main

block content
    .hofftech-container
        section.hero
            h1 Hey there — I'm #[strong Ken Hoff].
            ul.nascar
                li <a href="mailto:ken@hoff.tech">ken@hoff.tech</a>
                li <a href="/posts" target="_self">posts</a>
                <li>
                    <a href="https://www.linkedin.com/in/thekenhoff/">LinkedIn</a>
                </li>
                <li>
                    <a href="https://github.com/kenhoff">GitHub</a>
                </li>
                <li>
                    <a href="/Ken-Hoff-Resume-2018-06-18.pdf">Resumé</a>
                </li>
            </ul>
        </section>
        <img src="profile6.jpg" alt="" class="img-fluid">
        section.intro
            <h1>I'm a full-stack product engineer.</h1>
            p I've been building things on the web professionally for exactly #[code#timeElapsedSSS] milliseconds now (about #[span#timeElapsedHR] years).
            p I'm currently building scalable & personalized activity feeds as a Software Developer / Developer Advocate at #[a(href="https://getstream.io/" target="_blank") Stream].
            p I formerly built prototypes, web apps and services for early-stage startups through #[a(href="https://hoff.tech") Hofftech], my consulting and services company.
        </section>
        <img src="profile4.png" alt="" class="img-fluid">
        <section class="available">
            h1 I'm currently #[span.highlight.availability(data-toggle="tooltip" data-placement="top" data-html="true" title="...but I'd love to hear about what you're working on! Shoot me an email at <a href='mailto:ken@hoff.tech'>ken@hoff.tech</a>, and let's get coffee.") unavailable] for full-time development work.
            p I love talking to smart, growing companies that are solving really tough problems in fascinating ways.
            p For my qualifications and work history, please have a look through my #[a(href="Ken-Hoff-Resume-2017-08-21.pdf") resume].
            p Also, feel free to check out my <a href="https://hoff.tech/projects">most recent projects</a>, my <a href="https://github.com/kenhoff">GitHub</a>, and my <a href="https://www.linkedin.com/in/thekenhoff/">LinkedIn</a>.
        </section>
        <img src="profile3.jpg" alt="" class="img-fluid">
        <section class="contact">
            h1 Let's get in touch.
            p <a href="mailto:ken@hoff.tech">ken@hoff.tech</a>
            p <a href="tel:3038826490">text @ (303) 882-6490</a>
            p <a href="https://www.linkedin.com/in/thekenhoff/">LinkedIn</a>
        </section>
    </div>

block body-scripts
    script(type="text/javascript" src="/assets/js/milliseconds.js")
