$blue: #29506D;
@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url("whitney300.woff") format("woff");
}
@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url("whitney500.woff") format("woff");
}
@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url("whitney600.woff") format("woff");
}
@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url("whitney700.woff") format("woff");
}
@font-face {
    font-family: WhitneyMedium;
    font-style: medium;
    font-weight: 600;
    src: url("whitneymedium600.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Whitney", "Helvetica", "Arial", sans-serif;
    padding: 3em 0 0;
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin: 0;
}

.hofftech-container {
    margin: auto;
    max-width: 768px;
    @media (min-width: 768px) {
        padding: 0 1.5em;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
}

.highlight {
    background-color: yellow;
    border-bottom: 2px dashed $blue;
    padding: 0 0.25em;
}

footer,
header {
    color: white;
    height: 3em;
    background-color: $blue;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hofftech-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        padding: 0 1.5em;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        > *:not(:first-child) {
            margin-left: 1em;
        }
    }
}

header {
    top: 0;
    position: fixed;

    a,
    a:active,
    a:focus,
    a:hover,
    a:visited {
        color: white;
        border-bottom: 2px solid white;
    }
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    color: $blue;
    text-decoration: none;
}

a {
    border-bottom: 2px solid $blue;
    font-weight: bold;
}
// ul {
//     li {
//         a {
//             border-bottom: 2px solid $blue;
//         }
//     }
// }

ul.nascar {
    font-size: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;

        &::after {
            padding-left: 1em;
            padding-right: 1em;
            content: "·";
        }

        &:last-child::after {
            padding-left: 0;
            padding-right: 0;
            content: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2em;
    margin-bottom: 1em;
}

section {
    padding: 4em 1.5em;
    @media (min-width: 768px) {
        padding: 8em 0;
    }

    &.title {
        @media (min-width: 768px) {
            padding: 0;
        }
    }
}

.contact {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        padding: 0;

        li {
            margin: auto;
            text-align: center;
            border-bottom: 2px solid $blue;
            font-weight: bold;
        }
    }
}

.tooltip a {
    color: white;
    font-weight: bolder;
    border-bottom: 2px solid white;
}

.breadcrumbs {
    margin: 1.5em 0;
}

hr {
    // padding: 3em 0;
    margin: 3em;
}

blockquote {
    font-style: oblique;
    border-left: 2px solid $blue;
    padding-left: 1em;
    color: gray;
}

pre {
    background-color: lightgray;
    padding: 1em;
    border-radius: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
    code {
        color: $blue;
    }
}

.embed-container {
    margin-bottom: 1em;
}
