extends ./main.pug

block title
    title #{title} - Ken Hoff

block content
    .hofftech-container
        .breadcrumbs
            a(href="/posts" target="_self") < back to posts, projects, & stories
        section.title
            h1
                strong= title
            p= formattedDate
        section !{contents}
        .breadcrumbs
            a(href="/posts" target="_self") < back to posts, projects, & stories
